<?xml version="1.0" encoding="UTF-8"?>
<sc:item xmlns:sc="http://www.utc.fr/ics/scenari/v3/core"><lx:tag xmlns:sp="http://www.utc.fr/ics/scenari/v3/primitive" xmlns:sc="http://www.utc.fr/ics/scenari/v3/core" xmlns:lx="scpf.org:lexicon"><lx:tagM><sp:title>Physique</sp:title></lx:tagM></lx:tag></sc:item>